*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body{
  font-family: 'Ubuntu', sans-serif;
    height: 100%;
    line-height: 1;
}
body{
 
  font-size: 14px;
  /* color: rgba(255, 255, 255, 1); */
}



.wrapper{
  position: relative;
    overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
}

.wrapper__container{
  width: 100%;
  box-sizing:border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(50,25px);
  gap: 15px;
}



/* [class*="__content"]{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin: 0 auto;
} */


  .header{
    width:100%;
    grid-column: 1/-1;
    height:80px ;
    position: fixed;
    margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(2,40px);
  background-color:rgba(0,0,0,0.4);
  z-index: 500;
  color:rgba(255,255,255,1);
}

/* header-logo */

.header__logo {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 4px;
  margin: 0 auto;
  text-align: center;
  border:1px solid rgba(0,0,0,1);
}
img.header__logo__icon {
  max-width: 70px;
  height: 70px;
  border:1px solid rgba(0,0,0,1);
  
}

/* header-title */


.header__title{
  grid-column: 3/8;
  grid-row: 1/3;  
  border:1px solid rgba(0,0,0,1);
  color:rgba(255,255,255,1);
  padding: 5px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items:center
}

.title {
  font-size: 2em;
  font-family: "Open sans";
  letter-spacing: 15px;
  font-weight: 400;
  flex: 1 1 100%;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.header__subtitle {
  font-family: "Open Sauce";
  font-size: 1.6em;
  text-align: center;
  
}


/* header-nav */

.header__nav {
  grid-column: 13/18;
  grid-row: 1/3;
  border:1px solid rgba(0,0,0,1);
  padding: 10px;
}


.nav__menu{
  height: 60px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav__menu__item {
  margin: 0 3px;
  padding: 2px;
}
.nav__menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color:rgba(255,255,255,1);
}

/* header-form*/

.header__login__form {
  grid-column: 10/13;
  grid-row: 1/3;
  border:1px solid rgba(0,0,0,1);
  text-align: center;
}
.header__client__log__content{
align-items:center;
justify-content: space-around;
  flex-wrap: nowrap;
  padding: 5px;
}
.header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 90px;
}

.client__pass ,
.client__log,
.client__mail {
  padding: 3px;
}
.email,
.password {
  font-size:0.8em;
}
.header__client__log__content label{

}
.btn {
  font-size: 0.7em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color:rgba(0,0,0,1);
  border:2px solid rgba(0,0,0,1);
  border-radius:7px/7px;
  padding: 5px;
  text-align: center;
}


/*______________________________________________*/

@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}

 @media (max-width:991.98px){
  body{
    font-size: 13px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/7;
  }
  .header__login__form {
    grid-column: 7/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 80px;
}
.header__client__log__content{
    flex-wrap: wrap;
  }
}

@media (max-width:767.98px){
  body{
    font-size: 12px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
padding:0;
}
}

@media(max-width:479.98px){
  body{
    font-size: 11px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .title{
    font-size: 1.9em;
  }
  .header__subtitle{
    font-size: 1.4em;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
font-size: 0.9em;
}
} 

/*______________________________________________*/







.breadcrumbs{
  grid-column: 4/-4;
  grid-row: 3/3;
  border:1px solid rgba(0,0,0,0.2);
}

.breadcrumbs__content {
}




section{
  position: relative;
  z-index: 100;
}

.find__travel__background{
  grid-column: 1/-1;
  grid-row: 1/24;
  border:1px solid rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
}


.find__travel {
  grid-column: 1/-1;
  grid-row: 1/24;
  transition: all ease-in-out 0.3s;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(24,25px);
  gap: 15px;
  color:rgba(255,255,255,1);
}

.find__travel .find__travel__subtitle{
  grid-column: 3/-3;
  grid-row: 5/6;
  font-weight: 700;
  font-family: "Open sans";
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  text-align: center;
}
.find__travel__title{
  grid-column: 3/-3;
  grid-row: 6/9;
  font-size:7em;
  font-weight: 900;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  
}
.find__travel__slogan {
  grid-column: 3/-3;
  grid-row:15/15;
  font-weight: 900;
  font-family: "Open sans";
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  text-align: center;
}


.find__travel .btn {
  grid-column:8/12 ;
  grid-row:17/18 ;
}




/*PC*/
@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}
/*tablet*/
 @media (max-width:991.98px){

  
}
/*mobile*/
@media (max-width:767.98px){
  
}
/*mobile__small*/
@media(max-width:479.98px){
 
}


/* achievments */


.achievments {
  grid-column: 5/-5;
  grid-row:24/30;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,0.2);
}
.achievments__content {
}
.achievments__list {
}
.achievments__item {
}
.achievments__image {
}


.section {
}
.travel__ways {
  grid-column: 1/-1;
  grid-row: 30/40;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.2);
}
.travel__ways__content {
}
.travel__ways__list {
}
.travel__way__item {
}
.travel__way {
}
.travel__way__descr {
}
.travel__way__title {
}


































/*______________________________________________*/
/* [class*="__container"]{
  max-width: 1470px;
  margin: 0 auto;
  padding: 10px;
} */
/* 
@media (max-width:1470px){
  [class*="__container"]{
      max-width: 1300px;
  }
}
@media (max-width:1087px){
  [class*="__container"]{
      max-width: 970px;
  }
}

 @media (max-width:991.98px){

  [class*="__container"]{
      max-width: 750px;
  }
}

@media (max-width:767.98px){
  [class*="__container"]{
    max-width: 700px;
  }
}

@media(max-width:479.98px){
  [class*="__container"]{
    max-width: none;
}
}  */

/*______________________________________________*/



















/* 


.header {
  position: fixed;
  width: 100%;
  top: 5px;
  left: 0;
  z-index: 50;
  
  padding: 0 20px;
}

.header__container {
    background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  max-height: 80px;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  gap: 25px;
}

.header__logo {
  flex: 0 0 70px;
  z-index: 5;
}

.header__logo__icon{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius:50%
}

.header__title {
  flex: 1 1 20%;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.8em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: 'Tenor Sans', sans-serif;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.header__subtitle {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 0.7em;
  
}

.header__nav {
  flex: 1 1 30%;
  display: flex;
  
} */