*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body{
  font-family: 'Ubuntu', sans-serif;
    height: 100%;
    line-height: 1;
}
body{
  font-size: 14px;
}

.container-fluid,
.row,
.col,
.col-3,
.col-2,
.col-4,
.col-6{
    border:1px solid rgba(0,0,0,0.2);
}

.wrapper{
    min-height: 150vh;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}


[class*="__list"]{
    padding: 0;
    margin: 0 auto;
 }


/*______________________________________________*/

/* HEADER */
/*______________________________________________*/

.header{
    position: fixed;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    transition: transform 0.7s ease-in-out;
}
.header.top__slide{
    transform: translateY(-400px);
  }
.header__half{
display: flex;
  justify-content:space-between;
  align-items:center;
  transform: translateX(-400%);
  transition: transform 0.7s ease-in-out;
}
.header__half:nth-of-type(even){
  transform: translateX(400%);
}
.header__half.shown{
    transform: translatex(0);
  }
  .shown{
    transform: translatex(0);
  }
  
/*______________________________________________*/

/* header__logo */
/*______________________________________________*/

.header__logo {
    display: flex;
    align-items:center;
    justify-content: center;
}
.header__logo__icon {
    max-width: 70px;
    height: 70px;    
}

/*______________________________________________*/

/* header__title */
/*______________________________________________*/

.header__title {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(255,255,255,1);
}
.title {
    flex: 0 0 100%;
    font-size: 1.5em;
}
.header__subtitle {
    flex: 0 0 100%;
    font-size: 0.8em;
}

/*______________________________________________*/

/* header__login__form */
/*______________________________________________*/

.header__login__form {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
}
.header__login__form label{
    font-size: 0.8em;
}
.email,
.password {
    flex: 0 0 100%;
    height:20px;
margin: 5px auto;
max-width: 45%;
}
input[type="submit"] {
    border:1px solid rgba(0,0,0,0.2);
    flex:1 1 auto;
    height: 30px;
    font-size: 0.8em;
    max-width: 45%;
    margin: 0 auto;
}

/*______________________________________________*/

/* header__nav */
/*______________________________________________*/

.header__nav {
    display: flex;
    align-items:center;
    justify-content: center;
}
.nav__btn {
}
.nav__menu {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.nav__menu__item {
    text-transform: uppercase;
    padding: 5px;
}
.nav__menu__link {
    font-size: 0.8em;
    text-decoration: none;
    color:rgba(255,255,255,1);
   /*  margin: 7px; */
}
.active {
}

/*______________________________________________*/

/* MAIN */
/*______________________________________________*/

.main {
    padding-top: 90px;
}

/*______________________________________________*/

/* TOUR__CARD */
/*______________________________________________*/

.tour__card {
    
}

/*______________________________________________*/

/* section */
/*______________________________________________*/

.section{
    position: relative;
    overflow: hidden;
    padding: 10px;
    z-index: 100;
  transform: translate(400%,-20%);
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  transition: transform 1s ease-in-out;
  margin: 20px auto 10px auto;
  }
  
  .section:nth-of-type(even) {
    background-color: rgba(255,255,255,0.9);
  transform: translate(-400%,-20%);
  }
  
  .section:nth-of-type(3n) {
    background-color: rgba(255,255,255,0.7);
  }

  .section.shown{
  transform: translate(0%,0%);
}

  .section__title{
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
}

/*________________________________________________*/
  
/* card__title */
/*______________________________________________*/

.card__title {
    text-align: center;
}
.tour__name {
    font-size: 2em;
/*     color:rgba(255,255,255,1);
 */}
.tour__duration {
    font-size: 0.8em;
}


/*______________________________________________*/

/* basic__info  */
/*______________________________________________*/

.basic__info {
    font-size: 0.8em;
}
.route {
 
}
.route__list,
.countries__visited__list,
.type__list {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 30%;
    max-width: 60%;
}
.route__point__title {
}
.route__point,
.type__item,
.countries__visited__item {
    padding: 3px;
}
.countries__visited {
}
.countries__visited__list {
}
.countries__visited__title {
}
.countries__visited__item {
}
.type {
}
.type__list {
}
.type__title {
}
.type__item {
}

/*______________________________________________*/

/* description__block */
/*______________________________________________*/

.description__block {
}
.block__description {
    overflow: hidden;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}
.content__image {
    flex: 1 1 100%;
    height: auto;
}
.block__description img{
    margin: 10px auto;
}
.descr__content {
    flex: 0 1 70%;
    margin: 10px auto;
}
.descr__title {
    
}
.item__title {
}
.descr__text {
}

/*______________________________________________*/

/* tour__details */
/*______________________________________________*/

.tour__details {
}
.included__list,
.not__included__list {
    padding: 5px;
}
.included__title,
.not__included__title {
    
}
.included__item,
.not__included__item {
    padding: 3px;
    list-style: circle;
    margin-left: 30%;
}
.not__included__list {
}
.not__included__title {
}
.not__included__item {
}

/*______________________________________________*/

/* tour__info */
/*______________________________________________*/

.tour__info {
}
.tour__program {
}
.tour__program__list {
    padding: 5px;
}
.tour__program__title {
    
}
.tour__program__item {
    padding: 3px;
}
.day__number {
    padding: 5px;
   font-weight: 700;
}
.day__descr {
}


.route__map iframe{
    width: 100%;
    padding: 10px;
}
.additional__info__list {
    padding: 5px;
    display: flex;
 flex-direction: column;   
}
.children__discount,
.join__group{
   padding: 10px;
   text-align: center;
}

.children__discount p{
    flex: 1 1 auto;
    margin:1% auto;
}
.join__group p{
    flex: 1 1 auto;
    margin:1% auto;

}

/*______________________________________________*/


/* destination__select */
/*______________________________________________*/

.destination__select{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

p.select__title{
    font-size: 0.8em;
    margin: 0;
}
.select__destination{
}

option.destination__item {
    font-size: 0.8em;
}


.destination__countries__list {
   border:1px solid rgba(0,0,0,0.2);
}
.destination__country__item {
}
.destination__country__name {
  display: none;
}

/*______________________________________________*/


/* select__duration */
/*______________________________________________*/



.duration__select{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.select__duration {
}
.duration__value {
}

.type__select {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.select__title {
}
.select__type {
}
.type__value {
}
.price__select {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
/*______________________________________________*/

/* tour__links__list */
/*______________________________________________*/

.tour__links__list {
    padding: 10px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
  }
  .tour__item {
height: 200px; 
margin: 10px auto;   
  }
  .tour__link{
   
  }
 












.hide {
    display: none;
  }
  
  .show {
    display:block;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }