*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body{
  font-family: 'Ubuntu', sans-serif;
    height: 100%;
    line-height: 1;
}
body{
  font-size: 14px;
}

/* wrapper */

.wrapper{
  position: relative;
    overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
}

.wrapper__container{
  width: 100%;
  box-sizing:border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(100,20px);
  gap: 10px;
}


/* header */

  .header{
    width:100%;
    grid-column: 1/-1;
    height:80px ;
    position: fixed;
    margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(2,40px);
  background-color:rgba(0,0,0,0.4);
  z-index: 500;
  color:rgba(255,255,255,1);
  transition: transform 0.7s ease-in-out;
}
.header.top__slide{
  transform: translateY(-400px);
}


.header__half{
  grid-column: 1/10;
  grid-row: 1/3;
  padding-left: 10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  transform: translateX(-400%);
  transition: transform 0.7s ease-in-out;
}
.header__half:nth-of-type(even){
  grid-column: 10/19;
  padding-left: 0;
  padding-right: 10px;
  transform: translateX(400%);
}
.header__half.shown{
  transform: translatex(0);
}
.shown{
  transform: translatex(0);
}
/* header-logo */

.header__logo {
  flex: 1 1 20%;
  padding: 4px;
  margin: 0 auto;
  text-align: center;
}
img.header__logo__icon {
  max-width: 70px;
  height: 70px;
}

/* header-title */


.header__title{
  flex: 1 1 70%;
  color:rgba(255,255,255,1);
  padding: 5px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items:center;
  margin: 0 auto;
  text-align: center;
  height: 80px;
}

.title {
  font-size: 2em;
  font-family: "Open sans";
  letter-spacing: 10px;
  font-weight: 700;
  flex: 0 1 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.header__subtitle {
  font-family: "Open Sans";
  font-size: 1.4em;
}


/* header-nav */

.header__nav {
  flex: 1 1 70%;
  padding: 5px;
}


.nav__menu{
  height: 70px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav__menu__item {
  margin: 0 3px;
  padding: 2px;
}
.nav__menu__item:hover {
  border-bottom: 2px solid rgba(255,255,255,0.7);
}
.nav__menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color:rgba(255,255,255,1);
}

.active{

  color:rgba(255,255,255,1);
  border-bottom: 2px solid rgba(241, 43, 8, 0.699);
}

/* header-form*/

.header__login__form {
  flex: 1 1 30%;
  text-align: center;
}
.header__client__log__content{
align-items:center;
justify-content: space-around;
  flex-wrap: nowrap;
  padding: 5px;
}
.header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 90px;
}

.client__pass ,
.client__log,
.client__mail {
  padding: 3px;
}
.email,
.password {
  font-size:0.6em;
}
.header__client__log__content label{

}
.btn {
  font-size: 0.6em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color:rgba(0,0,0,1);
  border:2px solid rgba(241, 43, 8, 0.699);
  border-radius:7px/7px;
  padding: 3px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}


/*______________________________________________*/

@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}

 @media (max-width:991.98px){
  body{
    font-size: 13px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/7;
  }
  .header__login__form {
    grid-column: 7/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 80px;
}
.header__client__log__content{
    flex-wrap: wrap;
  }
}

@media (max-width:767.98px){
  body{
    font-size: 12px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
padding:0;
}
}

@media(max-width:479.98px){
  body{
    font-size: 11px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .title{
    font-size: 1.9em;
  }
  .header__subtitle{
    font-size: 1.4em;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
font-size: 0.9em;
}
} 

/*______________________________________________*/
.list__title{
  flex: 1 1 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.item__title{
  font-size: 2em;
  text-align: center;
  padding: 20px;
}




.main{
  grid-column: 1/19;
  grid-row: auto;
}
.main__content{
  width: 100%;
  box-sizing:border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(100,20px);
  gap: 10px;
}




section{
  position: relative;
  z-index: 100;
transform: translateX(400%);
transition: transform 0.5s ease;
}

.section:nth-of-type(even){
transform: translateX(-400%);
}

.section.shown{
transform: translateX(0);
}

.find__travel__background{
  grid-column: 1/-1;
  grid-row: 1/30;
  border:1px solid rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
}


.find__travel {
  grid-column: 1/-1;
  grid-row: 1/30;
  transition: all ease-in-out 0.3s;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(24,20px);
  gap: 10px;
  color:rgba(255,255,255,1);
}

.find__travel .find__travel__subtitle{
  grid-column: 3/-3;
  grid-row: 5/6;
  font-weight: 700;
  font-family: "Open sans";
  font-size: 1.5em;
  letter-spacing: 2px;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  text-align: center;
}
.find__travel__title{
  grid-column: 3/-3;
  grid-row: 6/9;
  font-size:7em;
  font-weight: 900;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  
}
.find__travel__slogan {
  grid-column: 3/-3;
  grid-row:15/15;
  font-weight: 900;
  font-family: "Open sans";
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow:0 2px  1px rgba(0,0,0,0.7);
  text-align: center;
}


.find__travel .btn {
  grid-column:7/13 ;
  grid-row:18/20 ;
  color:rgba(255,255,255,1);
  font-size: 2em;
  font-weight: 800;
  padding-top: 10px;
}




/*PC*/
@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}
/*tablet*/
 @media (max-width:991.98px){

  
}
/*mobile*/
@media (max-width:767.98px){
  
}
/*mobile__small*/
@media(max-width:479.98px){
 
}


/* achievments */


.achievments {
  grid-column: 4/-4;
  grid-row:32/42;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,0.2);
}

.achievments__list {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}
.achievment__title{
  font-size: 1em;
}

.achievment {
  flex: 1 1 auto;
  max-width: 19%;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin: 20px 3%;
  padding: 10px;
  border:1px solid rgba(0,0,0,0.2);
}
.achievments__image {
  border:1px solid rgba(0,0,0,0.2);
}
.achievments__list__title{

}




/*PC*/
@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}
/*tablet*/
 @media (max-width:991.98px){
  .achievment {
    flex: 1 1 auto;
    max-width: 50%;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin: 20px 5%;
    padding: 10px;
    border:1px solid rgba(0,0,0,0.2);
  }
  
}
/*mobile*/
@media (max-width:767.98px){
  
}
/*mobile__small*/
@media(max-width:479.98px){
 
}

/*________________________________________________*/

.travel__ways {
  grid-column: 1/-1;
  grid-row: 44/56;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.2);
}
.travel__ways__content {
}
.travel__ways__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
  gap: 20px;
}
.travel__way__title{


}
.travel__way__item {
  flex: 0 1 30%;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,1);
  height: 450px;
  transform: translateY(-50px);
}
.travel__way {
}
.travel__way__descr {
  font-size: 1.6em;
  padding: 20px;
  line-height: 1.5;
  background-color: rgba(255,255,255,1);
}

/*________________________________________________*/
.booking__steps {
  grid-column: 1/-1;
  grid-row: 58/76;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.2);
}
.booking__steps__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
  gap: 20px;
}
.booking__step {
  flex: 0 1 30%;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,1);
  min-height: 250px;
  text-align: center;
}
.booking__step__title {
 
}
.booking__step__descr {
  font-size: 1.6em;
  padding: 20px;
  line-height: 1.5;
  background-color: rgba(255,255,255,1);
}

.booking__step .btn{
  font-size: 1.5em;
}








.hide {
  display: none;
}

.show {
  display:grid;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}